In [1]:
import mysql.connector as connector

In [14]:
connection = connector.connect(
  host="127.0.0.1",
  user="admin1",
  password="EskiSiva100",
  database="littlelemondm",
  auth_plugin = "mysql_native_password"
)

In [15]:
cursor = connection.cursor()

In [16]:
query = "show databases"

In [17]:
cursor.execute(query)

In [20]:
results = cursor.fetchall()

In [21]:
print (results)

[('esaki12',), ('global_super_store',), ('information_schema',), ('little_lemon',), ('littlelemondm',), ('mangata_gallo',), ('mg_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [22]:
cursor.execute("USE littlelemondm")
connection.database
print("The database littlelemondm is set for use")

The database littlelemondm is set for use

In [23]:
show_tables_query = "SHOW TABLES;"
cursor.execute(show_tables_query)
results = cursor.fetchall()
columns = cursor.column_names
print(columns)
for result in results:
    print(result)

('Tables_in_littlelemondm',)
('bookings',)
('customer',)
('delivery',)
('menu',)
('menuitems',)
('orders',)
('ordersview',)
('ordersview1',)
('ordersview2',)
('ordersview3',)
('ordersview4',)
('ordersview5',)
('staff',)

In [24]:
join_query = """ SELECT Customer.FullName,
Customer.ContactNumber,
Customer.Email,
Orders.TotalCost
FROM Customer
LEFT JOIN Orders
ON Customer.CustomerID = Orders.CustomerID
WHERE Orders.TotalCost > 60;
"""

In [25]:
cursor.execute(join_query)

In [26]:
results = cursor.fetchall()

In [27]:
columns=cursor.column_names

In [28]:
print(columns)
for result in results:
    print(result)

('FullName', 'ContactNumber', 'Email', 'TotalCost')
('Alice Johnson', '5551234567', 'alice@gmail.com', Decimal('180.50'))
('Eva Brown', '4447771111', 'eve@gmail.com', Decimal('120.75'))
('Daniel White', '9998887777', 'daniel@gmail.com', Decimal('200.25'))
('John Doe', '1234567890', 'john@gmail.com', Decimal('175.00'))
('Olivia Miller', '7775559999', 'olivia@gmail.com', Decimal('152.75'))
('Jane Smith', '9876543210', 'jane@gmail.com', Decimal('165.50'))
('Bob Williams', '8889990000', 'bob@gmail.com', Decimal('185.75'))
('Charlie Davis', '2223334444', 'charlie@gmail.com', Decimal('160.00'))
('Liam Taylor', '4446668888', 'liam@gmail.com', Decimal('210.30'))

In [29]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.